.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/
/tshirt-factory/tshirt-factory/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/tshirt-factory/tshirt-factory/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/tshirt-factory/tshirt-factory/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/tshirt-factory/tshirt-factory/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/tshirt-factory/tshirt-factory/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
